categorypopover {
    #btnsave{
        cursor: pointer;
        float: right;
    }
    #main-div{
        height: 100%;
    }
    #form-height{
        height: 90%;  
    }
  textarea.text-input{
        height: 80%;
    }

}
